.verticalItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.ds_h1{
  
  font-weight: 600;
  font-size: 20px;
  line-weight: 28px;
  color:white;
}

.dropdiv {
    background:linear-gradient(24.95deg, #0C479D 30.89%,#00A3E0 93.02%);
    width: 97px;
    height:97px;
    padding:10px;
    border:2px dashed white;
    display: inline-block;
    border-width: 2px;
    border-radius: 50%;
    margin: 5px 15px 0px 5px;
    
    
    
  }
  
  .dragdiv {
    background-color: white;
    width:77px;
    height:77px;
    padding: 5px; 
    margin: 32px;
    padding-top:10px;
    display: inline-block;
    border-radius: 80px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.3);  
    cursor: move;
  }
  
  .dragdiv p {
    color: black;
    margin:13px;
    font-weight: 400;
    font-size: 32px;
    line-height: 40.32px;
  }
  
  .centered {
    padding: auto;
  }
  
  .ubutton {
  
    min-height: 120px;
    min-width: 120px;
    width: 140px;
    align-items: center;
    color: white;
    margin-right: 10px;
    background-color: #23d160;
    border: 1px solid;
    border-color: transparent;
    border-radius: 30px;
    font: normal 20px/normal Verdana, Geneva, sans-serif;
    box-shadow: none;
    cursor: pointer;
    text-align: center;
    

    
  }
  
  .ubutton:hover {
    background-color: #22c65b;
  }
  
  .drag-preview {
    background: seagreen;
    padding: 20px;
    min-width: 70px;
    min-height: 40px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.3);  
    cursor: move;
    opacity: 1;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    transition: none;
    pointer-events: none;
  }
  
  .drag-preview p {
    text-align: center;
    color: white;
    margin: 0;
    font: normal 20px/normal Verdana, Geneva, sans-serif;
  }
  
  h1 {
    text-align: left;
    font: bold 40px/normal Verdana, Geneva, sans-serif;
  }
  
  body {
    font: normal 30px/normal Verdana, Geneva, sans-serif;
  }